@import "tailwindcss";

:root {
  --primary: #1a91f0;
  --darkText: #29303c;
}

html, body {
  height: 100%;
  overflow: hidden;
}

/* Hide scrollbar but keep scroll working */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.break-inside-avoid {
  break-inside: avoid;
}

@media print {
  .break-inside-avoid {
    page-break-inside: avoid;
  }
}